@model IEnumerable<ClassExe3.Models.Fan>

@{
    ViewBag.Title = "Fan Club";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/ListStyle.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.min.js">
        $(document).ready(function () {
            // Show / Hide the search form - change the button's text according to the visibility of the form
            $('#toggleButton').click(function () {
                var button = this
                $('#searchform').slideToggle('slow', function () {
                    if ($('#searchform').is(':visible')) {
                        $("span", button).text("Hide search");
                    } else {
                        $("span", button).text("Show search");
                    }
                });
            });
        });
    </script>
</head>
<br />
<h2>Fans:</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seniority)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.birthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.seniority)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>
<br />

<p>
    @Html.ActionLink("Create New Fan", "Create", null, new { @class = "create-button" })
</p>

<button type="button" id="toggleButton"><span>Hide search</span></button>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "searchform" }))
{
    <h3>Search:</h3>
    <p>
        First Name: @Html.TextBox("firstName")<br />
        Last Name: @Html.TextBox("lastName") <br />
        Gender: @Html.DropDownList("gender", "All") <br />
        <input type="submit" value="Filter" id="search" />
    </p>
}

<h2>Which fan will recommend us?</h2>
<ul id="choices"></ul>
<button id="back">Back</button>
<script src="~/Scripts/decisionTree.js"></script>
<hr />

<div id="test">
    <p>Enter the fan's name: <input id="show-id" type="text" /> <button id="go">Show</button></p>
    <textarea id="results" rows="20" cols="80"></textarea>
</div>

<script src="~/Scripts/d3.v3.min.js"></script>
<script src="~/Scripts/donut3D.js"></script>
<br>
<br>
<h2>Gender of Fans:</h2>
<Font Color="#0000FF" SIZE="3">Male</Font>
<br>
<Font Color="#FA58D0" SIZE="3">Female</Font>
<script>

        var salesData = [
            { label: "Male", color: "#0000FF" },
            { label: "Female", color: "#FA58D0" },
        ];

        var svg = d3.select("body").append("svg").attr("width", 700).attr("height", 300);

        svg.append("g").attr("id", "salesDonut");

        Donut3D.draw("salesDonut", Data(), 150, 150, 130, 100, 30, 0.4);

        function Data() {
            return salesData.map(function (d) {
                return { label: d.label, value: getnum(d.label), color: d.color };
            });
        }

        function getnum(label){
            if (label == "Male") {
                return @Html.Action("NumOfGender", "FanClub", new { num = 1 });
            }
            else
                return @Html.Action("NumOfGender", "FanClub", new { num = 0 });
        }
</script>
